http_interactions:
- request:
    method: post
    uri: https://notarealinstance.metabase.com/api/session
    body:
      encoding: ''
      string: '{"username":"<sanitized>","password":"<sanitized>"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Tue, 13 Dec 2022 17:15:52 GMT
    body:
      encoding: ''
      file: no
      string: '{"id":"<sanitized>"}'
  recorded_at: 2022-12-13 17:15:54 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://notarealinstance.metabase.com/api/collection/12/items
    body:
      encoding: ''
      string: ''
    headers:
      X-Metabase-Session: <sanitized>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Tue, 13 Dec 2022 17:15:52 GMT
    body:
      encoding: ''
      file: no
      string: '{"total":7,"data":[{"description":null,"collection_position":null,"name":"Birds
        - Manual Exploration","id":16,"entity_id":"SDMmtRn6pQeI8WWQV7mXI","last-edit-info":{"id":7,"last_name":"<sanitized>","first_name":"<sanitized>","email":"<sanitized>","timestamp":"2022-10-25T10:05:15.796659Z"},"model":"dashboard"},{"description":null,"collection_position":null,"name":"hello
        world","id":17,"entity_id":"pd8x8_QL4FIRCpH9T3kB5","last-edit-info":{"id":10,"last_name":"<sanitized>","first_name":"<sanitized>","email":"<sanitized>","timestamp":"2022-10-30T09:20:05.807998Z"},"model":"dashboard"},{"description":null,"collection_position":null,"name":"Islands  -
        Manual Exploration","id":15,"entity_id":"DTlq0nM9eYIDBBdwLEOVz","last-edit-info":{"id":7,"last_name":"<sanitized>","first_name":"<sanitized>","email":"<sanitized>","timestamp":"2022-10-25T19:40:51.705299Z"},"model":"dashboard"},{"description":null,"collection_position":null,"name":"Penguins,
        Count, Standard deviation of ,Bill Length Mm, and Standard deviation of Bill
        Depth Mm, Grouped by Species","moderated_status":null,"fully_parametrized":true,"id":98,"display":"bar","entity_id":"SbB74f7s9mP5z-LdvopNY","collection_preview":true,"last-edit-info":{"id":10,"last_name":"<sanitized>","first_name":"<sanitized>","email":"<sanitized>","timestamp":"2022-10-30T09:19:35.793103Z"},"model":"card"},{"description":null,"collection_position":null,"name":"q1
        line chart","moderated_status":null,"fully_parametrized":true,"id":57,"display":"line","entity_id":"A0txynDJukNIAx-jg6MdS","collection_preview":true,"last-edit-info":{"id":5,"last_name":"<sanitized>","first_name":"<sanitized>","email":"<sanitized>","timestamp":"2022-10-19T18:44:12.668823Z"},"model":"card"},{"authority_level":null,"description":null,"can_write":true,"name":"Reference
        Queries","id":32,"entity_id":"Syin1ry0RiSzp66CHr4wZ","model":"collection"},{"description":null,"collection_position":null,"name":"Stage
        0 - Manual Exploration","id":8,"entity_id":"_5gFOfkWX6K0Ac3EE7-AH","last-edit-info":{"id":5,"last_name":"<sanitized>","first_name":"<sanitized>","email":"<sanitized>","timestamp":"2022-10-19T19:38:58.407201Z"},"model":"dashboard"}],"models":["card","collection","dashboard","dataset","pulse","timeline"],"limit":null,"offset":null}'
  recorded_at: 2022-12-13 17:15:54 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
