http_interactions:
- request:
    method: post
    uri: https://metabase.citizensforeurope.org/api/session
    body:
      encoding: ''
      string: '{"username":"<sanitized>","password":"<sanitized>"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sun, 11 Dec 2022 12:37:29 GMT
    body:
      encoding: ''
      file: no
      string: '{"id":"<sanitized>"}'
  recorded_at: 2022-12-11 12:37:33 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://metabase.citizensforeurope.org/api/database
    body:
      encoding: ''
      string: ''
    headers:
      X-Metabase-Session: <sanitized>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sun, 11 Dec 2022 12:37:29 GMT
    body:
      encoding: ''
      file: no
      string: '{"data":[{"description":null,"features":["full-join","basic-aggregations","nested-field-columns","standard-deviation-aggregations","persist-models","expression-aggregations","percentile-aggregations","foreign-keys","right-join","left-join","native-parameters","nested-queries","expressions","set-timezone","regex","case-sensitivity-string-filter-options","binning","inner-join","advanced-math-expressions"],"cache_field_values_schedule":"0
        0 1 * * ? *","timezone":"UTC","auto_run_queries":true,"metadata_sync_schedule":"0
        39 * * * ? *","name":"CorrelAid CFE Coolify PostgreSQL Synthetic","caveats":null,"creator_id":3,"is_full_sync":true,"updated_at":"2022-10-19T16:12:46.103366Z","native_permissions":"write","cache_ttl":null,"is_sample":false,"id":7,"is_on_demand":false,"options":null,"engine":"postgres","initial_sync_status":"complete","refingerprint":null,"created_at":"2022-09-10T05:28:36.442541Z","points_of_interest":null},{"description":"Some
        example data for you to play around with as you embark on your Metabase journey.","features":["basic-aggregations","standard-deviation-aggregations","expression-aggregations","foreign-keys","right-join","left-join","native-parameters","nested-queries","expressions","case-sensitivity-string-filter-options","binning","inner-join","advanced-math-expressions"],"cache_field_values_schedule":"0
        0 2 * * ? *","timezone":"UTC","auto_run_queries":true,"metadata_sync_schedule":"0
        3 * * * ? *","name":"Sample Database","caveats":"You probably don''t want
        to use this for your business-critical analyses, but hey, it''s your world,
        we''re just living in it.","creator_id":null,"is_full_sync":true,"updated_at":"2022-12-11T12:03:00.134116Z","native_permissions":"write","cache_ttl":null,"is_sample":true,"id":1,"is_on_demand":false,"options":null,"engine":"h2","initial_sync_status":"complete","refingerprint":null,"created_at":"2022-01-07T13:37:14.986982Z","points_of_interest":"You
        can find all sorts of different joinable tables ranging from products to people
        to reviews here."}],"total":2}'
  recorded_at: 2022-12-11 12:37:33 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
