http_interactions:
- request:
    method: post
    uri: https://notarealinstance.metabase.com/api/session
    body:
      encoding: ''
      string: '{"username":"<sanitized>","password":"<sanitized>"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 17 Dec 2022 19:35:17 GMT
    body:
      encoding: ''
      file: no
      string: '{"id":"<sanitized>"}'
  recorded_at: 2022-12-17 19:35:18 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://notarealinstance.metabase.com/api/table/
    body:
      encoding: ''
      string: ''
    headers:
      X-Metabase-Session: <sanitized>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 17 Dec 2022 19:35:18 GMT
    body:
      encoding: ''
      file: no
      string: '[{"description":null,"entity_type":"entity/GenericTable","schema":"public","db":{"description":null,"features":["full-join","basic-aggregations","nested-field-columns","standard-deviation-aggregations","persist-models","expression-aggregations","percentile-aggregations","foreign-keys","right-join","left-join","native-parameters","nested-queries","expressions","set-timezone","regex","case-sensitivity-string-filter-options","binning","inner-join","advanced-math-expressions"],"cache_field_values_schedule":"0
        0 1 * * ? *","timezone":"UTC","auto_run_queries":true,"metadata_sync_schedule":"0
        39 * * * ? *","name":"CorrelAid CFE Coolify PostgreSQL Synthetic","caveats":null,"creator_id":3,"is_full_sync":true,"updated_at":"2022-10-19T16:12:46.103366Z","cache_ttl":null,"is_sample":false,"id":7,"is_on_demand":false,"options":null,"engine":"postgres","initial_sync_status":"complete","refingerprint":null,"created_at":"2022-09-10T05:28:36.442541Z","points_of_interest":null},"show_in_getting_started":false,"name":"diversity_answers_dict","caveats":null,"updated_at":"2022-10-19T16:12:42.627051Z","active":true,"id":241,"db_id":7,"visibility_type":null,"field_order":"database","initial_sync_status":"complete","display_name":"Diversity
        Answers Dict","created_at":"2022-10-19T16:12:41.462982Z","points_of_interest":null},{"description":null,"entity_type":"entity/GenericTable","schema":"public","db":{"description":null,"features":["full-join","basic-aggregations","nested-field-columns","standard-deviation-aggregations","persist-models","expression-aggregations","percentile-aggregations","foreign-keys","right-join","left-join","native-parameters","nested-queries","expressions","set-timezone","regex","case-sensiti[...]
