http_interactions:
- request:
    method: post
    uri: https://notarealinstance.metabase.com/api/session
    body:
      encoding: ''
      string: '{"username":"<sanitized>","password":"<sanitized>"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Tue, 13 Dec 2022 17:15:52 GMT
    body:
      encoding: ''
      file: no
      string: '{"id":"<sanitized>"}'
  recorded_at: 2022-12-13 17:15:54 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://notarealinstance.metabase.com/api/card/147
    body:
      encoding: ''
      string: ''
    headers:
      X-Metabase-Session: <sanitized>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Tue, 13 Dec 2022 17:15:52 GMT
    body:
      encoding: ''
      file: no
      string: '{"description":null,"archived":false,"collection_position":null,"table_id":239,"result_metadata":[{"description":null,"semantic_type":"type/Category","coercion_strategy":null,"name":"species","settings":null,"field_ref":["field",3184,null],"effective_type":"type/Text","id":3184,"visibility_type":"normal","display_name":"Species","fingerprint":{"global":{"distinct-count":3,"nil%":0.0},"type":{"type/Text":{"percent-json":0.0,"percent-url":0.0,"percent-email":0.0,"percent-state":0.0,"average-length":6.593023255813954}}},"base_type":"type/Text"},{"description":null,"semantic_type":"type/Category","coercion_strategy":null,"name":"island","settings":null,"field_ref":["field",3187,null],"effective_type":"type/Text","id":3187,"visibility_type":"normal","display_name":"Island","fingerprint":{"global":{"distinct-count":3,"nil%":0.0},"type":{"type/Text":{"percent-json":0.0,"percent-url":0.0,"percent-email":0.0,"percent-state":0.0,"average-length":6.093023255813954}}},"base_type":"type/Text"},{"description":null,"semantic_type":null,"coercion_strategy":null,"name":"bill_length_mm","settings":null,"field_ref":["field",3185,null],"effective_type":"type/Float","id":3185,"visibility_type":"normal","display_name":"Bill
        Length Mm","fingerprint":{"global":{"distinct-count":165,"nil%":0.005813953488372093},"type":{"type/Number":{"min":32.1,"q1":39.27420368563347,"q3":48.5138593383655,"max":59.6,"sd":5.459006327462515,"avg":43.9219298245614}}},"base_type":"type/Float"},{"description":null,"semantic_type":null,"coercion_strategy":null,"name":"bill_depth_mm","settings":null,"field_ref":["field",3181,null],"effective_type":"type/Float","id":3181,"visibility_type":"normal","display_name":"Bill
        Depth Mm","fingerprint":{"global":{"distinct-count":81,"nil%":0.005813953488372093},"type":{"type/Number":{"min":13.1,"q1":15.564575131106459,"q3":18.685351562499996,"max":21.5,"sd":1.9745255415937897,"avg":17.15116959064[...]
