http_interactions:
- request:
    method: post
    uri: https://notarealinstance.metabase.com/api/session
    body:
      encoding: ''
      string: '{"username":"<sanitized>","password":"<sanitized>"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Tue, 13 Dec 2022 16:38:13 GMT
    body:
      encoding: ''
      file: no
      string: '{"id":"<sanitized>"}'
  recorded_at: 2022-12-13 16:38:15 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://notarealinstance.metabase.com/api/collection/
    body:
      encoding: ''
      string: ''
    headers:
      X-Metabase-Session: <sanitized>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Tue, 13 Dec 2022 16:38:13 GMT
    body:
      encoding: ''
      file: no
      string: '[{"authority_level":null,"description":null,"archived":false,"slug":"correlaid___hackathon","color":"#509EE3","can_write":false,"name":"CorrelAid
        - Hackathon","personal_owner_id":null,"id":7,"entity_id":null,"location":"/","namespace":null},{"authority_level":null,"description":null,"archived":false,"slug":"correlaid___project_stage","color":"#509EE3","can_write":true,"name":"CorrelAid
        - Project Stage","personal_owner_id":null,"id":10,"entity_id":"AwtF7m0_x3t2B5jgWf3BV","location":"/","namespace":null},{"authority_level":null,"description":null,"archived":false,"slug":"demo_m_api","color":"#509EE3","can_write":true,"name":"demo_m_api","personal_owner_id":null,"id":21,"entity_id":"XFUFwxnNntG7jWmH8_aMi","location":"/10[...]
